.scroll-custom {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scroll-custom::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}